* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #f0f2f5;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    min-height: 100vh;
    font-size: 16px;         /* Base relative unit */
}


.container {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
}


input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 0.9rem;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


button {
  width: 100%;
  padding: 0.8rem;
  background: #0066ff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #004ecc;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}


p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 450px;
  }
}
